html,
body {
    width: 80%;
    height: 100%;
}

.header {
    margin-left: 70%;
}

.footer {
    margin-left: 30%;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    height: auto;
    margin-left: 30%;
    padding-bottom: 20px;
}

.Title {
    width: 50%;
    height: 60px;
    margin: 2% auto;
}

.UserID {
    width: 50%;
    height: 30px;
    margin: 2% auto;
}

.Contents {
    width: 50%;
    height: 400px;
    margin: 2% auto;
}

.Button {
    width: 50%;
    height: 8%;
    margin: 3% auto;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}