<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BlockedUser">
    <select id="isBlocked" parameterType="String" resultType="boolean">
        select count(user_id)
        from blocked_user_table
        where user_id = #{userId}
          and now() <![CDATA[<]]> release_date
    </select>

    <select id="blockUser" parameterType="String">
        insert into blocked_user_table(user_id, blocked_date, release_date)
        values(#{userId}, now(), date_add(now(), interval 7 day))
    </select>
</mapper>