<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">
    <select id="getUserById" resultType="CustomUserDetails">
        SELECT user_id, pw, user_role
        FROM user_table
        WHERE user_id = #{userId}
    </select>

    <insert id="register" parameterType="CustomUserDetails">
        INSERT INTO user_table(user_id, pw, user_role)
        VALUES(#{userId}, #{pw}, #{userRole})
    </insert>

    <select id="duplicateCheck" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM user_table
        WHERE user_id=#{userId}
    </select>
</mapper>